<app-navbar></app-navbar>
<div class="heard">
    <div class="logo">
        <img src="/assets/image/logo_IAI.jpg" alt="">
    </div>
    <div class="adresse">
        <h2>INSTITUT AFRICAIN D’INFORMATIQUE <br>
            CENTRE D’EXCELLENCE TECHNOLOGIQUE PAUL BIYA </h2>
        <p>BP: 13719-Yaoundé Tel :(+237) 622729957 / 622729958</p>
        <p>E-mail: contact@iaicameroun.com Site web: www.iaicameroun.com</p>
        <hr>
    </div>
</div>

<b><h3> Résultat du concours en présentiel d'entrée à l'IAI-Cameroun, centre d'Excellence Technologique Paul BIYA Année académique 2021-2022 Session du 14 Août 2021</h3></b>

<p> Le Représentant Résident Chef d'Etablissement de l'IAI-Cameroun Centre d'Excellence Technologique Paul BIYA communique; 
    les candidats au concours en présentiel d'entrée au cycle des ingénieurs des travaux informatiques à l'IAI-Cameroun, Centre
    d'Excellence Technologique Paul BIYA dont les noms suivent sont informés qu'ils sont déclarés définitivement admis pour l'années académique 2021/2022 sous réserve de la présentation
    de leur baccalauréat ou de leur GCE 'A' Level. Ils doivent impérativement être préinscrits au plus tard le vendredi 20 Août 2021 à 12h. il s'agit de:
</p>
<br>
<br>

<h2>I. Centre de formation Yaoundé</h2>
<div class="resultat">
    <!-- Billing history card-->
    <div class="card mb-4">
        <div class="card-header">Systèmes et Réseaux</div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">ID</th>
                            <th class="border-gray-200" scope="col">Noms & Prenoms</th>
                            <th class="border-gray-200" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Kuate Ornella</td>
                            <td><span class="badge bg-light text-dark">Echec</span></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Ngah Helene</td>
                            <td><span class="badge bg-success">Validé</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <!-- Billing history card-->
    <div class="card mb-4">
        <div class="card-header">Génie Logiciel</div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">ID</th>
                            <th class="border-gray-200" scope="col">Noms & Prenoms</th>
                            <th class="border-gray-200" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Kuate Ornella</td>
                            <td><span class="badge bg-light text-dark">Echec</span></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Ngah Helene</td>
                            <td><span class="badge bg-success">Validé</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <!-- Billing history card-->
    <div class="card mb-4">
        <div class="card-header">Software Engeneering</div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">ID</th>
                            <th class="border-gray-200" scope="col">Noms & Prenoms</th>
                            <th class="border-gray-200" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Kuate Ornella</td>
                            <td><span class="badge bg-light text-dark">Echec</span></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Ngah Helene</td>
                            <td><span class="badge bg-success">Validé</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>