<app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/image/IAI.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/image/formation_continue.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/image/Salle-machine.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/image/elearning.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <div class="carousel-caption d-none d-md-block">
     <div class="header_left">
            <h1>Bienvennue sur SYSGESCO</h1>
            <P>   SYSGESCO est un logiciel de gestion de la scolarité, comptabilité permettant
                de gérer les données des étudiants (concours, inscription, paiement des frais,
                solvabilité, discipline). Chaque utilisateur (scolarité, comptabilité, staff administratif,
                étudiants) peut se connecter à son compte personnel à travers lequel il peut exécuter son
                travail spécifique.
            </P>
            <a href=mat-list-item [routerLink]="['/Home']" class="btn btn-primary">Visiter l'institut</a>
        </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- =============================================== DEBUT FILIERE ================================== -->

<section class="filieres">
  <div class="container filieres_container">
    <div class="filieres_center">
      <h1>Filiére</h1>
      <p>
        Les différentes filiéres proposé par l'IAI-CAMEROUN

      </p>
    </div>

    <div class="filieres_right">
      <article class="filiere">
        <img class="reseaux" src="/assets/image/systemes_reseaux.jpg" alt="">
        <!-- <span class="filiere_icon"> 2</span> -->
        <h5 class="colorize">Systémes et réseaux</h5>
        <p> mettre en place et assurer la maintenance des matériels et logiciels du système d'exploitation
          du réseau de son entreprise. L'ingénieur systèmes et réseaux est également connu sous le nom
          d'ingénieur systèmes ou encore responsable systèmes..</p>
      </article>
      <article class="filiere">
        <img src="/assets/image/genie_logiciel.avif" alt="">
        <!-- <span class="filiere_icon">1</span> -->
        <h5>Genie Logiciel</h5>
        <p> ensemble des méthodes, des techniques et des outils dédiés à la conception,
          au développement (production) et à la maintenance de logiciels de qualité industrielle.
          Les ​objectifs ​du génie logiciel consistent à rationaliser et à optimiser le processus
          de production d'un logiciel.</p>
      </article>

      <article class="filiere">
        <img class="software" src="/assets/image/software.jpg" alt="">
        <!-- <span class="filiere_icon"> 3</span> -->
        <h5>Software engineerieng</h5>
        <p> conçoivent et créent des systèmes informatiques et des applications pour résoudre des problèmes
          du monde réel. pour les individus de langue anglaise.
        </p>
      </article>
    </div>
  </div>
</section>

<!-- ==================================================== INFOS ========================================== -->

<section class="infos">
  <H2>Institut Africain Informatique Représentation du Cameroun</H2>
  <div class="container infos_container">
    <article class="info ">
      <div class="info_icon">
        <img src="/assets/image/plus.png" alt="">
      </div>
      <div class="info_information">
        <h4>Date de création</h4>
        <p>Historique IAI-Cameroun
          dcnjbhgvfcv bdnc;,vlmokijuhygvfcv
          ,qsdgtfcwx vbnd,;c,nbv,nbv;,nbv,nbv,nbv,nbv,nbv,nbv
        </p>
      </div>
    </article>

    <article class="info" id="membre">
      <div class="info_icon">
        <img src="/assets/image/plus.png" alt="">
      </div>
      <div class="info_information" >
        <h4>Etats membres</h4>
        <p>Etats membres IAI-Cameroun
          dcnjbhgvfcv bdnc;,vlmokijuhygvfcv
          ,qsdgtfcwx vbnd,;c,nbv,nbv;,nbv,nbv,nbv,nbv,nbv,nbv
        </p>
      </div>
    </article>

    <article class="info">
      <div class="info_icon">
        <img src="/assets/image/plus.png" alt="">
      </div>
      <div class="info_information">
        <h4>Formation spécifique</h4>
        <p>Formation spécifique IAI-Cameroun
          dcnjbhgvfcv bdnc;,vlmokijuhygvfcv
          ,qsdgtfcwx vbnd,;c,nbv,nbv;,nbv,nbv,nbv,nbv,nbv,nbv
        </p>
      </div>
    </article>

    <article class="info " id="formation">
      <div class="info_icon">
        <img src="/assets/image/plus.png" alt="">
      </div>
      <div class="info_information">
        <h4>Débouchés de la formation</h4>
        <p>Débouchés de la formation IAI-Cameroun
          dcnjbhgvfcv bdnc;,vlmokijuhygvfcv
          ,qsdgtfcwx vbnd,;c,nbv,nbv;,nbv,nbv,nbv,nbv,nbv,nbv
        </p>
      </div>
    </article>
  </div>
</section>

<!-- ================================================= ACTUALITE ====================================== -->

<section class="actualites">
  <div class="actualites_center">
    <h1>Actualité</h1>
  </div>
  <div class="container actualites_container">
    <div class="actualites_left">
      <h2> Bourse Chinoise</h2>
      <p> 15 étudiants de première année des filières « Réseau informatique » et « Génie logiciel » de l'IAI-Cameroun
        vont entamer l'année académique 2022/2023 à la Jiangsu Vocational Institute of Architectural Technology en
        Chine. Les boursiers bénéficieront par la même occasion de six mois de stage dans l'entreprise Huawei</p>
    </div>
    <div class="actualites_right">
      <article class="actualite">
        <img class="avion" src="/assets/image/bourse.webp" alt="">
      </article>
    </div>
    <!-- ============================= CONCOURS ==================================== -->

    <div class="actualites_left">
      <h2> Concours</h2>
      <p> le concours IAI Cameroun est lancé pour l'année académique 2022-2023, quatre(04) concours poue
        le recrutement d'étudiants au cycle d'ingénieurs des Travaux Informatiques a l'IAI-Cameroun pour
        les filières Génie Logiciel, Systèmes et Réseaux et Software Engineerieng </p>
    </div>
    <div class="actualites_right">
      <article class="actualite">
        <img class="avion" src="/assets/image/concours.jpg" alt="">
      </article>
    </div>
  </div>
</section>


<app-footer></app-footer>