<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SYSGESCO</a>
    <!-- <a class="navbar-brand" href="#"><img class="avion" src="/assets/image/logo.png" alt=""></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Accueil</a>
        </li>
        <div class="dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              MySYSGESCO
            </a>
            <div class="dropdown-content">
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                  <a class="dropdown-item" mat-list-item routerLink="/login"> Connexion</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" mat-list-item routerLink="/registration"> Inscription</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" mat-list-item routerLink=""> Déconnection</a>
                </li>
              </ul>
            </div>
          </li>
        </div>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard-nav"> Dashboard</a>
        </li>
        <div class="dropdown">
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a> -->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Concours
            </a>
            <div class="dropdown-content">
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" mat-list-item [routerLink]="['/partconcours']">Inscription concours</a>
                </li>
                <li><a class="dropdown-item" mat-list-item [routerLink]="['/paiement']">paiement frais concours</a>
                </li>
                <li><a class="dropdown-item" mat-list-item [routerLink]="['/resultat']">Résultat concours</a></li>
                <li><a class="dropdown-item" mat-list-item [routerLink]="['/resultat']">Vidéo conférence</a></li>
                <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </div>
          </li>
        </div>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">A propos</a>
        </li>
      </ul>
      <form class="d-flex">
        <!-- <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Recherche</button> -->
      </form>
    </div>
  </div>
</nav>