/* ========================== NAVBAR ================================ */
a.navbar-brand{
    font-size: 2rem;
    margin-bottom: -21px;
}

div.collapse#navbarSupportedContent{
  margin-left: 510px;
}
.nav-item{
  margin-right: 10px;
}


/* ======================== Dropdown ============================ */


.dropdown li{
    position: relative;
    display: inline-block;
  }
  

  .dropdown-item{
    font-size: 1.5rem;
  }
  

  a#navbarDropdown.nav-link {
    margin-top: 10px;
  }

  .dropdown-menu a:hover{
    margin-left: 0.7rem;
  }

  .dropdown-menu a:hover{
    /* color: #0d6efd; */
  }
  
  .dropdown-menu{
    padding: 1.50rem 1.25rem;
  }